@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import "./my-reset.css";

:root {
    --color-black:        hsl(0, 0%, 7%);
    --color-dark-blue:    hsl(219, 29%, 14%);
    --color-white:        white;
    --color-grey-100:     hsl(214, 17%, 92%);
    --color-grey-200:     hsl(0, 0%, 81%);
    --color-grey-400:     hsl(224, 10%, 45%);
    --color-grey-500:     hsl(217, 19%, 35%);
    --color-purple-50:    hsl(260, 100%, 95%);
    --color-purple-300:   hsl(264, 82%, 80%);
    --color-purple-500:   hsl(263, 55%, 52%);

    --text-preset-1: 600 2.0rem/1.2 "Barlow Semi Condensed", sans-serif;
    --text-preest-2: 500 1.3rem/1.1 "Barlow Semi Condensed", sans-serif;
    --text-preset-3: 500 1.3rem/1.4 "Barlow Semi Condensed", sans-serif;
    --text-preset-4: 500 1.1rem/1.1 "Barlow Semi Condensed", sans-serif;

    --space-500: 4.0rem;
    --space-400: 3.2rem;
    --space-300: 2.4rem;
    --space-200: 1.6rem;
    --space-100: 0.8rem;
    --space-50:  0.4rem;

    --box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}
